<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><span class="hidden-xs">{{ page.caption }}</span> <span class="pull-right"><a href="{% tag_url %}{{ page.tag }}/feed.xml"><i class="fa fa-rss"></i></a> <a href="{% tag_url %}{{ page.tag }}/feed.opml"><i class="fa fa-dot-circle-o"></i></a> {{ page.tag | upcase }}</span></h4>
    </div>
    <div class="panel-body">
      {% for post in site.tags[page.tag] %}
        {% if post.type == page.type %}
          <div class="row news">
            <div class="col-sm-10 col-lg-11">
              <h5>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h5>
              <div class="post" data-json="{{ post.json_url | prepend: site.baseurl }}">
                <p class="post-excerpt">{{ post.content | strip_html | truncatewords: site.words_in_excerpt }}</p>
                <p class="post-content"></p>
                <button type="button" data-toggle="tooltip" data-original-title="read in {{ post.content | reading_time }}" class="show-more btn btn-default btn-xs pull-right" >Read more...</button>
                <button type="button" class="hide-more btn btn-default btn-xs pull-right" >Hide post...</button>
              </div>
              <small class="description">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</small>
            </div>
            <div class="col-sm-2 col-lg-1">
              <a href="{{ post.url | prepend: site.baseurl }}" class="pull-right">
                <img src="{{ post.image }}" class="img-circle">
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>